<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <div class="header"><h1>Detalle</h1> <a href="/">⬅ Volver</a></div>
    <div class="card" style="margin: 40px auto; max-width: 500px;">
        <h2>{{ producto.nombre }}</h2>
        <p style="color:#00ffcc;">$ {{ producto.precio }}</p>
        <p>{{ producto.desc }}</p>
        <form action="/agregar/{{ producto.id }}" method="POST"><button class="btn">Agregar al carrito</button></form>
    </div>
</body>
</html>